Package: vyatta-op-stop-gnss-v1-yang
Source: vyatta-service-gnss
Version: 1.13
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 16
Depends: vyatta-service-gnss, vyatta-service-gnss-v1-yang, vyatta-opd-extensions-v1-yang, vyatta-op-stop-v1-yang
Section: contrib/net
Priority: optional
Description: vyatta-op-stop-gnss-v1 module
 YANG integration for GNSS operational commands
